{% extends 'base.html' %}
{% block content %}

<h1>Item - {{ item.name }}</h1>
<form method="post" action="/add_to_shopping_list/{{ item.id }}">
    <input type="hidden" name="name" value="value" />
    <a onclick="this.parentNode.submit(); return false;" style="
            color: navy;
            text-decoration: none;
            border: 1px solid black;
            padding: 1px 5px;
            cursor: pointer
        ">
        Add to Shopping List
    </a>
</form>

<p><img src="{{ item.photo_url }}" width="250px" height="250px"></p>

<p><strong>Price:</strong> {{ item.price }}</p>

<p><strong>Category:</strong> {{ item.category }}</p>

<p><strong>Store:</strong> {{ item.store.title }}</p>
{% if item.created_by %}
<p>Created by: {{ item.created_by.username }}</p>
{% endif %}


<h2>Edit Item</h2>

<form method="POST">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Please enter your information:</legend>

        <!-- Remove the next paragraph and use the `form` object passed in
                    from the route to render a form. -->
        {{ form.name.label }}
        {{ form.name }}
        <!-- Show form errors -->
        <ul>
            {% for error in form.name.errors %}
            <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>

        {{ form.price.label }}
        {{ form.price }}
        <!-- Show form errors -->
        <ul>
            {% for error in form.price.errors %}
            <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>

        {{ form.category.label }}
        {{ form.category }}
        <!-- Show form errors -->
        <ul>
            {% for error in form.category.errors %}
            <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>

        {{ form.photo_url.label }}
        {{ form.photo_url }}
        <!-- Show form errors -->
        <ul>
            {% for error in form.photo_url.errors %}
            <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>

        {{ form.store.label }}
        {{ form.store }}
        <!-- Show form errors -->
        <ul>
            {% for error in form.store.errors %}
            <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>

        <input type="submit" value="Submit">
    </fieldset>
</form>

{% endblock %}